.btn {
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  background-color: hsl(180deg, 66%, 49%);
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
}
.btn:hover {
  background-color: #98e3e6;
}

.container {
  max-width: 1110px;
  margin: auto;
}
@media (max-width: 1110px) {
  .container {
    padding: 0 24px 0 24px;
  }
}

@media (max-width: 900px) {
  .hidden {
    display: none !important;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 5px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: hsl(257deg, 7%, 63%);
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

header {
  height: 35px;
  margin-top: 55px;
  margin-bottom: 55px;
}
@media (max-width: 900px) {
  header {
    margin-top: 40px;
    margin-bottom: 25px;
  }
}
header .header-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 900px) {
  header .header-container {
    justify-content: space-between;
  }
}
header .header-container .navigation-position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  header .header-container .navigation-position {
    position: absolute;
    background-color: hsl(257deg, 27%, 26%);
    top: 100px;
    right: 24px;
    width: 330px;
    height: 390px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  header .header-container .navigation-position {
    left: 24px;
    right: 24px;
  }
}
@media (max-width: 900px) {
  header .header-container .navigation-position .right-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }
}

.navigation {
  margin-left: 45px;
}
@media (max-width: 900px) {
  .navigation {
    border-bottom: 1px solid hsl(257deg, 7%, 63%);
    width: 85%;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.navigation .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
@media (max-width: 900px) {
  .navigation .links {
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 20px 0;
    width: 100%;
  }
}
.navigation .links .link-element {
  margin-right: 35px;
}
@media (max-width: 900px) {
  .navigation .links .link-element {
    padding: 20px;
    margin-right: 0;
  }
}

.link {
  text-decoration: none;
  color: hsl(257deg, 7%, 63%);
  font-weight: 700;
  font-size: 0.8rem;
}
@media (max-width: 900px) {
  .link {
    color: #fff;
    font-size: 0.9rem;
  }
}
.link:hover {
  color: hsl(260deg, 8%, 14%);
}
@media (max-width: 900px) {
  .link:hover {
    color: #fff;
  }
}

.btn-top {
  font-size: 0.8rem;
  margin-left: 35px;
}
@media (max-width: 900px) {
  .btn-top {
    margin-left: 0;
    width: 85%;
    margin-top: 25px;
    font-size: 0.9rem;
  }
}

.hero-section {
  background-image: url("../images/illustration-working.svg");
  background-position: top right -150px;
  background-size: auto;
  background-repeat: no-repeat;
  height: 485px;
}
@media (max-width: 900px) {
  .hero-section {
    background-position: top center;
    background-size: 485px auto;
    height: 690px;
  }
}
@media (max-width: 400px) {
  .hero-section {
    background-position: top right -150px;
    background-size: 485px auto;
  }
}

.hero-info {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  height: 485px;
  justify-content: center;
}
@media (max-width: 900px) {
  .hero-info {
    padding-top: 520px;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
}
.hero-info .heading-hero {
  font-size: 3.1rem;
  line-height: 3.5rem;
  font-weight: 700;
  color: hsl(260deg, 8%, 14%);
  margin-bottom: 25px;
}
@media (max-width: 900px) {
  .hero-info .heading-hero {
    font-size: 2.7rem;
    line-height: 3rem;
  }
}
@media (max-width: 400px) {
  .hero-info .heading-hero {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
}
.hero-info .body-hero {
  color: hsl(257deg, 7%, 63%);
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 45px;
}
.hero-info .btn-hero {
  width: 200px;
  font-size: 1rem;
  border-radius: 30px;
  padding: 20px;
}

.shorten-section {
  margin-top: 150px;
  background-color: #f0f1f6;
  height: 110px;
  padding: 0 24px;
}

.shorten-container {
  position: relative;
  height: 100%;
  padding: 0;
}

.shorten-box {
  background-color: hsl(257deg, 27%, 26%);
  height: 170px;
  position: absolute;
  top: -85px;
  width: 100%;
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
@media (max-width: 900px) {
  .shorten-box {
    height: 180px;
    flex-direction: column;
    top: -90px;
    justify-content: center;
  }
}
.shorten-box .link-input {
  height: 64px;
  padding: 0 35px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
@media (max-width: 900px) {
  .shorten-box .link-input {
    height: 48px;
  }
}
.shorten-box .link-input ::-moz-placeholder {
  color: hsl(257deg, 7%, 63%);
}
.shorten-box .link-input :-ms-input-placeholder {
  color: hsl(257deg, 7%, 63%);
}
.shorten-box .link-input ::placeholder {
  color: hsl(257deg, 7%, 63%);
}
.shorten-box .submit-btn {
  width: 190px;
  margin-left: 24px;
  height: 64px;
  font-size: 1rem;
  border-radius: 10px;
}
@media (max-width: 900px) {
  .shorten-box .submit-btn {
    width: 100%;
    margin-left: 0;
    height: 48px;
    margin-top: 15px;
  }
}

.statistics-section {
  background-color: #f0f1f6;
}
.statistics-section .statistics-header-container {
  text-align: center;
  margin-bottom: 110px;
  padding-top: 100px;
}
.statistics-section .statistics-header-container .section-heading {
  font-size: 1.9rem;
  color: hsl(260deg, 8%, 14%);
  font-weight: 700;
}
@media (max-width: 900px) {
  .statistics-section .statistics-header-container .section-heading {
    font-size: 1.5rem;
  }
}
.statistics-section .statistics-header-container .section-description {
  color: hsl(257deg, 7%, 63%);
  max-width: 520px;
  font-size: 1rem;
  margin: 20px auto;
}
@media (max-width: 900px) {
  .statistics-section .statistics-header-container .section-description {
    font-size: 0.8rem;
  }
}
.statistics-section .statistics-container {
  position: relative;
  margin-top: 45px;
}
.statistics-section .statistics-container::before {
  content: "";
  position: absolute;
  top: 150px;
  left: 50px;
  right: 50px;
  height: 8px;
  background-color: hsl(180deg, 66%, 49%);
}
@media (max-width: 900px) {
  .statistics-section .statistics-container::before {
    top: 50px;
    left: calc(50% - 4px);
    width: 8px;
    height: 85%;
  }
}
.statistics-section .statistics-container .cards-section {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 120px;
}
@media (max-width: 900px) {
  .statistics-section .statistics-container .cards-section {
    flex-direction: column;
  }
}

.card {
  background-color: #fff;
  padding: 35px;
  position: relative;
  text-align: left;
  border-radius: 8px;
  z-index: 1;
  height: 270px;
}
@media (max-width: 900px) {
  .card {
    text-align: center;
  }
}
.card .icon-box {
  background-color: hsl(257deg, 27%, 26%);
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  top: -45px;
  left: 35px;
}
@media (max-width: 900px) {
  .card .icon-box {
    left: calc(50% - 45px);
  }
}
.card .card-title {
  padding-top: 45px;
  padding-bottom: 20px;
  color: hsl(260deg, 8%, 14%);
}
.card .card-body {
  color: hsl(257deg, 7%, 63%);
  font-size: 0.85rem;
}
@media (max-width: 1000px) {
  .card .card-body {
    font-size: 0.7rem;
  }
}
@media (max-width: 900px) {
  .card .card-body {
    font-size: 0.85rem;
  }
}

.secound {
  margin-top: 45px;
}

.third {
  margin-top: 90px;
}

.boost-section {
  background-color: hsl(257deg, 27%, 26%);
  background-image: url("../images/bg-boost-desktop.svg");
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 900px) {
  .boost-section {
    background-image: url("../images/bg-boost-mobile.svg");
  }
}
.boost-section .boost-heading {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 25px;
}
@media (max-width: 900px) {
  .boost-section .boost-heading {
    font-size: 1.5rem;
  }
}
.boost-section .btn-boost {
  height: 50px;
  width: 170px;
  font-size: 1rem;
  border-radius: 25px;
}

.footer {
  background-color: hsl(260deg, 8%, 14%);
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
@media (max-width: 900px) {
  .footer .footer-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}
.footer .footer-container .footer-links-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .footer .footer-container .footer-links-box {
    flex-direction: column;
    margin-top: 50px;
  }
}
.footer .footer-container .footer-links-box .links-list {
  color: #f0f1f6;
  margin-right: 80px;
}
@media (max-width: 900px) {
  .footer .footer-container .footer-links-box .links-list {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.footer .footer-container .footer-links-box .links-list .links-title {
  margin-bottom: 25px;
  font-size: 0.8rem;
}
.footer .footer-container .footer-links-box .links-list .footer-links {
  list-style: none;
}
.footer .footer-container .footer-links-box .links-list .footer-links .footer-link-element {
  padding: 8px 0;
  font-size: 0.8rem;
}
.footer .footer-container .footer-links-box .links-list .footer-links .footer-link-element .footer-link {
  color: hsl(0deg, 0%, 75%);
  text-decoration: none;
}
.footer .footer-container .footer-links-box .links-list .footer-links .footer-link-element .footer-link:hover {
  color: hsl(180deg, 66%, 49%);
}
.footer .footer-container .footer-links-box .footer-social-links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.footer .footer-container .footer-links-box .footer-social-links ul .social-link {
  color: #fff;
  font-size: 1.4rem;
  padding: 0 12px;
  cursor: pointer;
}
.footer .footer-container .footer-links-box .footer-social-links ul .social-link :hover {
  color: hsl(180deg, 66%, 49%);
}/*# sourceMappingURL=style.css.map */