@import 'config';
@import 'utilities';

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 18px;
    font-family: $font;
}
header{
    height: 35px;
    margin-top: 55px;
    margin-bottom: 55px;
    @media(max-width:900px){
        margin-top: 40px;
        margin-bottom: 25px;
    }
    & .header-container{
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media(max-width:900px){
            justify-content: space-between;
        }
        & .navigation-position{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media(max-width:900px){
                position: absolute;
                background-color: $dark-violet;
                top:100px;
                right: 24px;
                width: 330px;
                height: 390px;
                border-radius: 10px;
                flex-direction: column;
                justify-content: center;
            
            }
            @media(max-width:400px){
                left: 24px;
                right: 24px;
            }
        & .right-nav{
            @media(max-width:900px) {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
                padding:5px;
                }
        }
        }
    }
}
.navigation{
    margin-left: 45px;
    @media(max-width:900px){
        border-bottom: 1px solid $grayish-violet;
        width: 85%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    & .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        @media(max-width:900px){
            flex-direction: column;
            justify-content: center;
            padding:10px 0 20px 0;
            width: 100%;
        }
        & .link-element{
            margin-right: 35px;
            @media(max-width:900px){
                padding:20px;
                margin-right: 0;
            }
            
        }
    }
}
.link{
    text-decoration: none;
    color:$grayish-violet;
    font-weight: 700;
    font-size: 0.8rem;
    @media(max-width:900px){
        color:#fff;
        font-size: 0.9rem;
    }
    &:hover{
        color:$very-dark-violet;
        @media(max-width:900px){
            color: #fff;
        }
    }
}
.btn-top{
    font-size: 0.8rem;
    margin-left: 35px;
    @media(max-width:900px) {
            margin-left: 0;
            width: 85%;
            margin-top:25px ;
            font-size: 0.9rem;
        }
}
.hero-section{
    background-image: url('../images/illustration-working.svg');
    background-position: top right -150px;
    background-size: auto;
    background-repeat: no-repeat;
    height: 485px;
    @media(max-width:900px){
        background-position: top center;
        background-size: 485px auto;
        height: 690px;
    }
    @media(max-width:400px){
        background-position: top right -150px;
        background-size: 485px auto;
    }
}
.hero-info{
    display: flex;
    flex-direction: column;
    max-width: 560px;
    height: 485px;
    justify-content: center;
    @media(max-width:900px) {
       padding-top: 520px;
       align-items: center;
       text-align: center;
       max-width: 100%;
            }
    & .heading-hero{
        font-size: 3.1rem;
        line-height: 3.5rem;
        font-weight: 700;
        color:$very-dark-violet;
        margin-bottom: 25px;
        @media(max-width:900px){
            font-size: 2.7rem;
            line-height: 3rem;
        }
        @media(max-width:400px) {
            font-size: 2.3rem;
            line-height: 2.5rem;
        }
    }
    & .body-hero{
        color:$grayish-violet;
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: 500;
        margin-bottom: 45px;
    }
    & .btn-hero{
        width:200px;
        font-size: 1rem;
        border-radius: 30px;
        padding:20px ;
    }
}
.shorten-section{
    margin-top: 150px;
    background-color: #f0f1f6;
    height: 110px;
    padding:0 24px;
    
}
.shorten-container{
    position: relative;
    height: 100%;
    padding: 0;
}
.shorten-box {
    background-color: $dark-violet;
    height: 170px;
    position: absolute;
    top: -85px;
    width: 100%;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-size:cover;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 60px;
    @media(max-width:900px){
        height: 180px;
        flex-direction: column;
        top:-90px;
        justify-content: center;
    }

    & .link-input{
        height: 64px;
        padding: 0 35px;
        width: 100%;
        border-radius: 10px;
        border: none;
        font-size: 1rem;
        @media(max-width:900px){
            height: 48px;
        }
        & ::placeholder{
            color:$grayish-violet;
        }
    }
    & .submit-btn{
        width: 190px;
        margin-left: 24px;
        height: 64px;
        font-size: 1rem;
        border-radius: 10px;
        @media(max-width:900px){
            width: 100%;
            margin-left: 0;
            height: 48px;
            margin-top: 15px;
        }
    }
}
.statistics-section{
    background-color: #f0f1f6;
    & .statistics-header-container{
        text-align: center;
        margin-bottom: 110px;
        padding-top: 100px;
        & .section-heading{
           font-size: 1.9rem;
           color:$very-dark-violet; 
           font-weight: 700;
           @media(max-width:900px){
            font-size: 1.5rem;
           }
        }
        & .section-description{
            color:$grayish-violet;
            max-width: 520px;
            font-size: 1rem;
            margin: 20px auto;
            @media(max-width:900px) {
                font-size: 0.8rem;
            }
        }
    }


    & .statistics-container{
        position: relative;
        margin-top: 45px;
            &::before {
                content: '';
                position: absolute;
                top: 150px;
                left: 50px;
                right: 50px;
                height: 8px;
                background-color: $cyan;
                @media(max-width:900px){
                    top:50px;
                    left: calc(50% - 4px);
                    width: 8px;
                    height: 85%;
                }
            }
        
        & .cards-section{
            display: flex;
            justify-content: space-between;
            gap:30px;
            padding-bottom: 120px;
            @media(max-width:900px){
                flex-direction: column;
            }
        }
    }
}
.card {
    background-color: #fff;
    padding: 35px;
    position: relative;
    text-align: left;
    border-radius: 8px;
    z-index: 1;
    height: 270px;
    @media(max-width:900px){
        text-align: center;
    }
  
    & .icon-box{
        background-color: $dark-violet;
        height: 90px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: absolute;
        top:-45px;
        left: 35px;
        @media(max-width:900px){
            left: calc(50% - 45px);
        }
    }
    & .card-title{
        padding-top:45px;
        padding-bottom: 20px;
        color:$very-dark-violet;
    }
    & .card-body{
        color:$grayish-violet;
        font-size: 0.85rem;
    }

}
.secound{
    margin-top: 45px;
}
.third{
    margin-top: 90px;
}
.boost-section{
    background-color: $dark-violet;
    background-image: url('../images/bg-boost-desktop.svg');
    background-size: cover;
    height:250px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & .boost-heading{
        font-size: 3rem;
        color:#fff;
        margin-bottom: 25px;
        @media(max-width:900px){
            font-size: 1.5rem;
        }
    }
    & .btn-boost{
        height: 50px;
        width: 170px;
        font-size: 1rem;
        border-radius: 25px;
    }
}
.footer{
    background-color: $very-dark-violet;
    & .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 80px 0;
        @media(max-width:900px){
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        & .footer-links-box{
            display: flex;
            justify-content: space-between;
                @media(max-width:900px) {
                    flex-direction: column;
                    margin-top: 50px;
                }

            & .links-list{
                color:#f0f1f6;
                margin-right: 80px;
                @media(max-width:900px){
                    margin-right: 0;
                    margin-bottom:50px;
                }
                & .links-title{
                    margin-bottom:25px ;
                    font-size: 0.8rem;
                }
                & .footer-links{
                    list-style: none;
                    & .footer-link-element{
                        padding:8px 0;
                        font-size: 0.8rem;
                        & .footer-link{
                            color:$gray;
                            text-decoration: none;
                            &:hover{
                                color:$cyan;
                            }
                        }
                    }
                }
            }
            & .footer-social-links ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
                @media(max-width:900px){
                    
                }
                & .social-link{
                    color:#fff;
                    font-size:1.4rem;
                    padding:0 12px;
                    cursor: pointer;
                    & :hover{
                        color:$cyan;
                    }
                }
            }
        }
    }
}